streamlit==1.28.0

langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.53
langchain-groq==0.1.5
langchain-text-splitters==0.0.2

groq==0.37.1

chromadb==0.4.15
faiss-cpu==1.9.0.post1

sentence-transformers==3.0.1
transformers==4.44.2
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
huggingface-hub==0.24.6

unstructured==0.10.0
unstructured-inference==0.5.9

pdf2image==1.17.0
pdfminer.six==20251230
PyPDF2==3.0.1
pytesseract==0.3.13
Pillow==9.5.0

onnxruntime==1.18.1

numpy==1.26.4
pandas==2.0.0

python-dotenv==1.0.0
tiktoken==0.5.1

requests==2.34.2
tqdm==4.68.4